@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/* Global Variable */
:root{
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #FFF;
    --body: #fefefe;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

/* Button */
.btn{
    border-radius: 8px;

}

.btn-primary, .btn-outline-secondary{
    padding: 12px 20px;

}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary-dark);
}

.btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:hover{
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:focus{
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

/* Navigation */

.navbar-brand{
    color: var(--primary-dark);
}

.navbar .btn-outline-secondary{
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px; 
}

.navbar .btn-outline-secondary:hover{
    color: var(--gray-2);
    background-color: var(--primary-dark);
    
}

.navbar{
    padding: 32px 0;
}

.nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: var(--gray-1);
}

.navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--black);
}

/* Hero Section */
section.hero{
    padding: 80px 0;
}

section.hero .text{
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--black);
}

.buttons{
    padding-top: 69px;
}

.buttons.btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* Setup section */
section.setup{
    padding: 150px 0;
}

section.setup .text-header h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);

}

section.setup .text-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray-1);
    padding: 27px 0;
}

section.setup .icons{
    padding: 27px 0;
}

section.setup h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    padding-bottom: 18px;
}

section.setup .desc p{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--gray-1);
    max-width: 284px;
    margin: 0 auto;
}



/* Information Section */
section.information .text-information{
    padding: 134px 0;
}

section.information h5{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.information p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--gray-1);
    padding-top: 20px;
}

section.information .info-1{
    padding: 183px 0; 
}

/* Footer */
footer{
    padding-top: 279px;
    margin-bottom: 44px;
}

footer a{
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
}

footer .copy{
    margin-top: 32px;
    font-size: 14px;
    color: var(--gray-1);
    line-height: 17px;
    font-weight: 400;

}

/* Contact Us */
.screen {
    margin-top: 100px;
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--primary);
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--primary-dark);
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: var(--primary);
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: var(--primary-dark)
  }
  
 
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  